<div class="page-header">
  <div class="row">
    <div class="col-xs-4 col-md-3">
      <%= link_to new_video_path do %>
        <span class="glyphicon glyphicon-upload" style="font-size: 32px;"></span>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-3">
  
    </div>

  </div>
</div>

<%= render 'layouts/shared/video_list' %>